body {
    background-color: #FCC82A;
}

div. h1 {
  position: relative;
  position: center;
  text-align: center;
  margin: 10px;
  font-family: 'Comfortaa', cursive;
  left:20px;
}
div .formulario-ingreso {
    position: relative;
    position: center;
    margin: 50px;
    font-family: 'Comfortaa', cursive;
    background-color: white;
}


button {
  position: relative;
  position: center;
  left: 50px;
  font-family: 'Comfortaa', cursive;
}
