body {
    background-color: #FCC82A;
}

.registro h1 {
  margin-top: 10px;
}

.registro {
  position: relative;
  position: center;
  margin: 50px;
  font-family: 'Comfortaa', cursive;
  background-color: white;
}


form {
  position: absolute;
  text-align: center;
  position: center;
  margin: 30px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  position: center;
  text-align: center;
}

#boton-enviar {
  font-family: Arial;
}

#boton-enviar hover {
  background-color: #FFE819
}

.botones {
  margin-bottom: 10px;
}
