*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/*ENCABEZADO*/

header{
    width: 100%;
    height: 30px;
    background-color: #45454d;
    overflow: hidden;

}

.logo{
    float: left;
    padding-top: 2px;
    padding-left: 5px;
}

.logo h3{
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    }

.hamburguesa{
    display: inline;

}

.fas.fa-bars{
    color: white;
    margin-left: 7px;
    margin-top: 8px;

}

.login-compras{
    float: right;
    overflow: hidden;


}

.usuario{
    float: left;
    margin-right: 5px

}

.fas.fa-user{

    color: white;
    margin-top: 6px;
    margin-right: 2px;

}

.login-escritorio{
    display: none;
}

.carrito{
    float: right;
}

.fas.fa-shopping-cart{
    color: white;
    margin-right: 5px;
    margin-top: 6px

}

h3{
    font-family: 'Comfortaa', cursive; 
}
.mapa-google{
position: relative;
padding-bottom: 56.25%;
overflow: hidden;
}

iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
/*VERSION DE ESCRITORIO*/

@media (min-width: 1024px){

    header{
        height: 50px;
    }

    .logo h3{
        font-size: 35px;
    }
    .hamburguesa{
        display: none;
    }

    .usuario{
        display: none;

    }


    .login-escritorio{
        margin-right: 30px;
        display: inline-block;
        padding-top: 6px;

    }
    .login-escritorio li{
        display: inline;
        font-size: 20px;
        padding-right: 20px;
    }
    .link{
        color: white;

    }

    .fas.fa-shopping-cart{
        margin-top: 14px;
        margin-right: 30px;

    }

    .busqueda{
        text-align: center;
    }


    div.texto-oficina h3{
        display: inline-block;
    }

    main{
        overflow: hidden;
    }

    .contacto{
        float: left;
        width: 45%;
    }

    .mapa{
        margin-top: 20px;  
          
        float: left;
        width: 50%;
    }

    .contacto{
        margin-left: 2%;
    }

    #email{
        width: 70%;
        margin-left: 3%;
    }

    #nombre{
        width: 70%
    }

    #apellido{
        width: 69%;
    }

    #consulta{
        margin-left: 5%
    }

    .texto-mapa{
        margin-bottom: 10px;
    }

    

}